@*
 * Copyright (c) 2015 Samsung Electronics Co., Ltd. , (c) Center of Informatics
 * Federal University of Pernambuco.
 * All rights reserved.
 *
 * This software is a confidential and proprietary information of Samsung
 * Electronics, Inc. ("Confidential Information").  You shall not disclose such
 * Confidential Information and shall use it only in accordance with the terms
 * of the license agreement you entered into with Samsung Electronics.
 *@
@model IEnumerable<MvcMusicStore.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Browse Genres</h2>
<p>Select from @Model.Count() genres: </p>
<ul>
    @foreach(var item in Model)
    {
       <li>@Html.ActionLink(item.Name, "Browse", new { genre = item.Name })</li>
    }

</ul>